/*début reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fin du reset CSS*/



#my-vid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: contain;
    overflow: hidden;
}

body{
    height: 99vh;
    color: white;
    font-size: 16px;
    font-family: 'Cinzel','Times New Roman', Times, serif;
    background: url(assets/milky-way-1030765_1920.jpg) no-repeat;
    background-attachment: fixed;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div > h1 {
    font-size: 2em;
}

.maj {
    font-size: 1.25em;
}
.dot1{
    color: orange;
    font-size: 3.5em;
}

.dot{
    color: orange;
    font-size: 3em;
}

/*layout header*/
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
}
.brand-container {
    height: 50px;
    display: table; 
}
#a-nav {
    text-decoration: none;
    height: 20px;
    color: white;
    position: relative;
    top : 50%;
    padding: 10px;
}
#a-nav:hover {
    border: 1px solid orange;
    border-radius: 7px;
}
.here {
    background-color: rgba(248, 248, 255, .1);
    border-radius: 7px;
}

/*layout footer*/
.footer-home > div {
    width: 100%;
}
.footer-home > div p {
    text-align: right;
}
footer {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
footer > .site-map {
    display: flex;
    justify-content: space-between;
}
.site-map > p {
    padding: 0 15px;
}
#a-footer {
    text-decoration: none;
    color : white;
    padding: 0 15px;
}
#a-footer:hover {
    color: orange;
}




/*layout index.html*/
main {
    height: 77vh;
    text-align: center;
    overflow: hidden;
}
.slogan > h2 {
    margin-bottom: 25px;
    margin-top: 11%;
    font-size: 2.5em;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
}
div > #link-home {
    text-decoration: none;
    color: orange;
    padding: 10px;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    background-color: rgba(248, 248, 255, .1);
    border: 1px solid orange;
    border-radius: 7px;
}
#link-home:hover {
    font-weight : bold;
    box-shadow: 1px 1px 1px orange;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}

/* style css form*/

.container {
    margin-right:300px;
    margin-left: 300px;
}
.container > h1{
    margin-bottom: 9px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* bouton  */
  input[type=submit] {
    background-color: rgba(255, 165, 0, .65);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* hover bouton */
  input[type=submit]:hover {
    background-color: orange;
  }
  
  /* background color autour du form */
  .container {
    border-radius: 5px;
    background-color: rgba(248, 248, 255, .1);
    padding: 20px;
  }